<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"
        default-lazy-init="false">
        
        
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/sshTest" />
		<property name="user" value="root" />
		<property name="password" value="123456" />
	
		<!-- these are C3P0 properties -->
		<property name="acquireIncrement" value="5" />
		<property name="minPoolSize" value="5" />
		<property name="maxPoolSize" value="50" />
		<property name="maxIdleTime" value="60" /><!-- seconds -->
	</bean>
       
	<!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://192.168.0.103:3306/sshTest" />
		<property name="username" value="root" />
		<property name="password" value="123456" />
	</bean> -->
	
	
	<context:component-scan base-package="com.prince" />
	
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="com.prince.model" />
		<!-- <property name="entityInterceptor" ref="auditLogInterceptor"/>-->
		<property name="hibernateProperties">
			<props>
	            <prop key="hibernate.hbm2ddl.auto">update</prop>
	            <prop key="hibernate.show_sql">false</prop>
	            <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
	            <!-- <prop key="hibernate.jdbc.fetch_size">50</prop>
				<prop key="hibernate.jdbc.batch_size">30</prop>--> 
				
				<prop key="hibernate.search.default.directory_provider">filesystem</prop>

				<prop key="hibernate.search.default.indexBase">/opt/lucene/indexes</prop>
	        </props>
		</property>
	</bean>
	
	   

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- <tx:annotation-driven /> -->
	<context:annotation-config /> 
	
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="*find*" read-only="true" isolation="READ_UNCOMMITTED"/>
			<!-- <tx:method name="find*" read-only="true" />-->
			<tx:method name="*" propagation="REQUIRED" rollback-for="Exception"/>
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="ServiceOperation" expression="execution(* com.prince.service.*Service.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="ServiceOperation"/>
	</aop:config>
	
	<!-- <context:property-placeholder location="jdbc.properties"/>-->
	
</beans>      